@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&family=Dancing+Script&family=Lobster&family=Satisfy&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--bg: black;
	--clr: white;
}
body{
	color: var(--clr);
	font-family: 'Alumni Sans',
	sans-serif;
	font-size: 1.5em;
}

.header{
	height: 100vh;
	width: 100vw;
	background-image: url("../photo/t1.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
display: flex;
justify-content: space-between;
flex-direction: column;
position: relative;

.navbar{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;


.name{
	margin: 0 5px;
}
	.links{
		width: 60%;
		ul{
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;

			li{
				border: 2px solid var(--clr);
				transition:background .3s ease-in;

				&:hover{
					background: var(--clr);
				}
				a{
					font-family: 'Satisfy',
					cursive;
					font-size: 0.8em;
					text-decoration: none;
					color: var(--clr);
					padding: 5px;
						transition:color .3s ease-in;

					&:hover{
						color: red;
					}
				}
			}
		}
	}
}

.thesis{
	border: 1px solid var(--clr);
	max-width: 300px;
	line-height: 1.2;
	padding: 10px 5px;
	text-align: center;
font-family: 'Satisfy',
cursive;

p{
	font-family: 'Alumni Sans',
	sans-serif;
}
}

.latest-wrapper{
	position: relative;

	.latest-song{
		width: 100%;
		height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row-reverse;
padding: 10px;

.c-art{
	width: 100%;
	height: 100%;

	img{
		border-radius: 20px;
		width: 100%;
		height: 100%;
		object-position: center;
	}
}
.latest-song-info{
	width: 100%;
	text-align: center;

	.name{
		color: gold;
		font-weight: bold;
		border-bottom: 1px solid var(--clr);
		font-family: 'Satisfy',
		cursive;
	}
	.ft{
		color: red;
		font-weight: bold;
	}
}
	}
}

.platforms{
	border-top:1px solid var(--clr);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.social,.listening{
		padding: 10px 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		a{
			img{
				width: 35px;
			}
		}
	}
}

}

.about{
height: 100%;
	width: 100vw;
	background-image: url("../photo/t2.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
position: relative;
padding: 10px  0;
font-family: 'Alumni Sans',
sans-serif;

h1{
	text-align: center;
	border-bottom: 1px solid var(--clr);
	margin: 20px 0;
	font-size: 1em;
}
.abt-wrapper{
display: flex;
justify-content: space-between;
}

.abt-img{
	width: 50%;

	img{
		width: 100%;
		border-radius: 10px;
	}
}
.abt-text{
	padding: 0 5px;
	width: 100%;
}
}

.songs-wrapper{
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: auto;
background-image: linear-gradient(320deg,rgb(41, 39, 39),rgb(38, 47, 56),rgb(66, 49, 37));
padding: 30px;

.song-card{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	border-top-left-radius: 20px;
	margin: 30px 0;

	.cover-art{
		width: 100%;
height: 100%;
		img{
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}

	}
	.song{
		width: 100%;
		height: 100%;
		border: 2px solid var(--clr);
		border-left: none;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		padding-left: 5px;
		line-height: 1.3;


		.singers{
			text-transform: uppercase;
			.singer-name{
				color: red;
			}
		}
		.stream{
			img{
				width: 20px;
			}
			.listen,.yt{
				margin: 5px 0;
				display: flex;
				align-items: center;
				width: 100%;
				img{
					margin-left: 8px;
				}
			}
		}
	}
}

}

.tour-wrapper{
	height: 100%;
	width: 100vw;
	background-image: url("../photo/tr.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
position: relative;
padding: 10px  0;


.tour{
	width: 100%;
	padding: 20px;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 1em;
backdrop-filter: blur(10px);

	.t-img{
width: 50%;
margin-right: 20px;
	img{
		width: 100%;
		height: 100%;
		padding-right: 20px;
		border-radius: 20px;
	}
	}
	.tr-in{
		width: 100%;
			h2{
		backdrop-filter: blur(5px);
		padding: 5px 10px;
		color: rgb(187, 17, 31);
		border: 1px solid silver;
	}
	}
	.date{
		background-color: grey;
		text-align: center;
	}

}

}

.tour-r{
	width: 100%;
	padding: 20px;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: row-reverse;
	.t-img{
width: 50%;
	img{
		width: 100%;
		height: 100%;
	}
}

	.tr-in{
		width: 100%;

			h2{
		backdrop-filter: blur(5px);
		padding: 5px 10px;
		color: rgb(187, 176, 17);
		border: 1px solid silver;
	}
	}
	.date{
		background: rgb(122, 34, 12);
		text-align: center;
	}
}

.features{
	width: 100%;
	height: auto;
	background: var(--bg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.feat{
		margin: 10px 0;
		border: 2px solid gold;
		width: 200px;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		box-shadow: inset 2px 2px 8px grey;
		img{
			width: 100%;
		}
		.detail{
			border-top: 2px solid gold;
			backdrop-filter: blur(4px);
			text-align: center;
			line-height: 1.4;
			.name{
				color: red;
			}
		}
	}
}

footer{
	background: rgb(16, 16, 165);
	display: grid;
	place-items: center;
	height: 100px;
	font-family: 'Satisfy',
	cursive;
}
.dvi{
	font-size: 2em;
	margin: 20px 0;
	color: gold;
	font-weight: bolder;
	text-align: center;
}
@media(min-width:800px){
	
	.about {
		h1 {
			font-size: 2em;
		}

		.abt-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.abt-text {
			padding: 0 5px;
			width: 100%;
			font-size: 1.5em;
		}
	}

	.songs-wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		background-image: linear-gradient(320deg, rgb(41, 39, 39), rgb(38, 47, 56), rgb(66, 49, 37));
		padding: 30px;

		.song-card {
			width: 400px;
			height: 250px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			overflow: hidden;
			border-top-left-radius: 20px;
			margin: 30px 0;
		}

	}

.tour-wrapper {
	.tour {
		font-size: 1.3em;
	}

}
	.features {
		.feat {
			width: 300px;
		}
	}
	.dvi {
		font-size: 5em;
	}
}

